﻿@using Recipes.Models.Chefs;
@*
*@
@{
    ViewData["Title"] = "Edit Chefs";
}

@model ChefsViewModel

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Edit Chefs</h2>

    <form method="post" asp-controller="Chefs" asp-action="Edit" asp-route-id="@Model.Id">
        <p>
            <label>ChefReviews</label>
            <input type="text" step="any" name="Review" value="@Model.ChefReviews" />
        </p>

        <p>
            <label>TopChefs</label>
            <input type="text" name="Description" value="@Model.TopChefs" />
        </p>

        <button type="submit">Edit</button>

        <button asp-controller="Chefs" asp-action="Index">Cancel</button>
    </form>
}
else
{
    <h2 class="text-danger">You can't accesss this page if you aren't logged in.</h2>
}