
Project/.vs/Project/FileContentIndex/35267334-bbab-41d9-ae69-d473d4adedd2.vsidx
Project/.vs/Project/FileContentIndex/dc35edf4-b162-4639-829a-b7be0e361b6a.vsidx
Project/.vs/Project/FileContentIndex/cc71bc90-ab7d-49e4-b95f-770d1330c62f.vsidx
Project/.vs/Project/FileContentIndex/75bbdbe6-8f93-40e3-81af-c0b05d453ab0.vsidx
Project/.vs/Project/FileContentIndex/077492f0-2fe1-445a-b8ed-54b6d289b70c.vsidx
*.vsidx
Recipes/.vs/ProjectEvaluation/recipes.metadata.v7.bin
Recipes/.vs/ProjectEvaluation/recipes.metadata.v7.bin
Recipes/.vs/ProjectEvaluation/recipes.projects.v7.bin
Recipes/.vs/Recipes/v17/.futdcache.v2
Recipes/.vs/Recipes/v17/.suo
Recipes/.vs/Recipes/v17/DocumentLayout.json
Recipes/.vs/Recipes/v17/.suo
Recipes/.vs/Recipes/v17/DocumentLayout.json
Recipes/.vs/Recipes/v17/.suo
