﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Recipe";
}

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Create Recipe</h2>

    <form method="post" asp-controller="Recipes" asp-action="Create">
        <p>
            <label>Name</label>
            <input type="text" name="Name" />
        </p>

        <p>
            <label>Ingredients</label>
            <input type="text" step="any" name="Ingredients" />
        </p>

        <p>
            <label>Description</label>
            <input type="text" name="Description" />
        </p>

        <button type="submit">Create</button>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Recipes" asp-action="Index">View Recipes</a>
        </li>
    </form>
}
else
{
    <h2 class="text-danger">You can't accesss this page if you aren't logged in.</h2>
}