﻿@using Recipes.Models.Recipes;
@*
*@
@{
    ViewData["Title"] = "Edit Recipe";
}

@model RecipesViewModel

@if (User.Identity?.IsAuthenticated ?? false)
{
    <h2>Edit Recipe</h2>

    <form method="post" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id">
        <p>
            <label>Name</label>
            <input type="text" name="Name" value="@Model.Name" />
        </p>

        <p>
            <label>Ingredients</label>
            <input type="text" step="any" name="Ingredients" value="@Model.Ingredients" />
        </p>

        <p>
            <label>Description</label>
            <input type="text" name="Description" value="@Model.Description" />
        </p>

        <button type="submit">Edit</button>

        <button asp-controller="Recipe" asp-action="Index">Cancel</button>
    </form>
}
else
{
    <h2 class="text-danger">You can't accesss this page if you aren't logged in.</h2>
}